/* Stylesheet */

body {background-color:#ffe6e6;
    font-family: Arial, Helvetica, sans-serif}

section {width: 90%;
}

article {background-color: #eeeeee;
        width: 85%;}
img {width: 400px;
     height: 300px;
    border: #444444;
    border-radius: 20%}

p {font-family: Arial, Helvetica, sans-serif;
    font-size: 0,5em;
    color: #444444;
    text-align: center}

a {text-align: center}


/* Spezielle Hintergrundfarben der Sections */

#sectionerdbeere {background-color: #ffccbb}
#sectionbanane {background-color: #ffffbb}
#sectionapfel {background-color: #ffd6bb}